  
  .show {display: block;}


  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
  }

  .buttons-action{
    justify-content: space-between !important;
  }